/* Global definition less */
@primary-color: var(--primary-color);
@default-theme-textColor: var(--default-theme-textColor);
@default-theme-hoverTextColor: var(--default-theme-hoverTextColor);
@default-theme-color: var(--default-theme-color);
@default-theme-bgcolor: var(--default-theme-bgcolor);
@default-theme-headerTextColor: var(--default-theme-headerTextColor);
@default-theme-border: var(--default-theme-border);
@default-theme-listBgColor: var(--default-theme-listBgColor);
@default-theme-listBgColorHover: var(--default-theme-listBgColorHover);
@default-theme-grayColor: var(--default-theme-grayColor);
@default-theme-maxWidth: var(--default-theme-maxWidth);
@default-theme-linkColor: var(--default-theme-linkColor);

.overflow(@line:1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: @line;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
}

.img-box(@proportion,@bgColor:#eee) {
  position: relative;
  padding-top: @proportion;
  background-color: @bgColor;
  border-radius: 5px;
  .img {
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: @bgColor;
  }
}
.my-navlink() {
  color: @default-theme-textColor;
  display: inline-block;
}

.my-table() {
  .ant-table-row {
    &:nth-child(even) {
      background-color: @default-theme-listBgColor;
    }
    &:hover {
      .ant-table-cell {
        background-color: @default-theme-listBgColorHover !important;
      }
      .duration-col {
        color: #000;
      }
    }
  }
  .ant-table-cell {
    border: none;
    padding: 8px 0 8px 5px;
    font-size: 13px;
  }
}
