.music-footer {
  flex: 1;
  transition: transform 0.7s ease-in-out;
  transform: translateY(-100%);
  .footer-like() {
    .like {
      &:hover {
        color: @default-theme-color;
      }
    }
    .unlike {
      color: @default-theme-color;
      &:hover {
        color: @default-theme-color;
      }
    }
  }
  .musicinfo {
    display: flex;
    height: 100%;
    &-left {
      padding: 0 10px;
      display: flex;
      align-items: center;
      .img-box {
        width: 50px;
        height: 50px;
        .img-box(100%);
        cursor: pointer;
        &:hover {
          .expand {
            opacity: 1;
          }
          .img {
            filter: blur(2px);
          }
        }
        .expand {
          opacity: 0;
          font-size: 20px;
          border-radius: inherit;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          color: #e0e0e0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #00000069;
        }
        &.img-empty{
          padding-top: 0;
          cursor: default;
        }
      }
    }
    &-name {
      max-width: 150px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      overflow: hidden;
      .musicname {
        font-size: 16px;
        cursor: pointer;
        white-space: nowrap;
      }
      .artist {
        .name {
          cursor: pointer;
          white-space: nowrap;
        }
      }
    }
    &-state {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 11px;
      .anticon {
        color: @default-theme-grayColor;
        cursor: pointer;
        &:hover {
          color: @default-theme-textColor;
        }
      }
      .footer-like();
    }
  }
  .details {
    height: 100%;
    // background-color: pink;
    display: flex;
    font-size: 18px;
    .normal {
      width: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      .anticon {
        cursor: pointer;
        padding: 15px;
      }
    }
    &-state {
      display: flex;
      align-items: center;
      .anticon {
        cursor: pointer;
        border: 1px solid @default-theme-border;
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .footer-like();
    }
  }
  &.open {
    transform: translateY(0);
  }
}
